.main_wrapper {
  display: flex;
}

.main_left {
  flex: 1;
}

.main_right {
  flex: 3;
  max-height: calc(100vh - 66px);
}

.main-heading {
  font-size: 50px !important;
  font-weight: 800 !important;
}

.main {
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 782px) {
  .main_wrapper {
    flex-direction: column;
  }
  .main_right {
    max-height: none;
  }

  .main-heading-wrapper {
    text-align: center;
  }
}
